core/n8n/files/workflows/03BKZejCX7oFmcBd.json
{"createdAt":"2025-07-03T13:27:19.737Z","updatedAt":"2025-07-08T13:58:32.872Z","id":"03BKZejCX7oFmcBd","name":"webhook&requests_validation","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/webhook_&_requests/01","sendBody":true,"bodyParameters":{"parameters":[{"name":"input_1","value":"hello"},{"name":"input_2","value":"world"},{"name":"input_3","value":"={{ $json.input_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-1640],"id":"14187cba-f6ea-4de5-b2b2-248e7e231bf6","name":"01_Webhook&Requests"},{"parameters":{"assignments":{"assignments":[{"id":"2e654668-a528-48cd-b2f7-6c61a6fa268c","name":"resut","value":"={{ $json.resut }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,-1640],"id":"2402a697-e139-4591-a4cf-24e278843eae","name":"SetResult"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79441306-a73d-4f69-81d7-e14214dbcf8a","leftValue":"={{ $json.resut }}","rightValue":"hello world!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[540,-1640],"id":"1b530f65-3745-4ba6-ad15-80ce46ad99c8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"input_1","value":"hello","type":"string"},{"id":"744080b2-f704-46c7-881f-8fb551b6d67b","name":"input_2","value":"world","type":"string"},{"id":"fd920e7b-69b6-4c0d-85af-13259369287f","name":"input_3","value":"!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1640],"id":"1cfbc6b0-63e5-4a3d-8da1-133479ba2724","name":"SetArgs"},{"parameters":{"errorMessage":"=Expected output: \"{{ $('SetArgs').item.json.input_1 }} {{ $('SetArgs').item.json.input_2 }}{{ $('SetArgs').item.json.input_3 }}\". Received \"{{ $json.resut }}\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[740,-1580],"id":"3d0d334f-5620-4c09-a5a1-987af3571b90","name":"Stop and Error"},{"parameters":{"content":"## webhook_&_requests_01","height":320,"width":1700,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,-1740],"id":"acc25c38-ac3d-4885-b3e2-05f99afb4255","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"2e654668-a528-48cd-b2f7-6c61a6fa268c","name":"response","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,-1300],"id":"ef5ef316-d279-4991-95d0-04eb82146eb5","name":"SetResult1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79441306-a73d-4f69-81d7-e14214dbcf8a","leftValue":"={{ $json.response }}","rightValue":"=Successfully validated credentials","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[540,-1300],"id":"478c4bf2-a599-4e93-942f-3b54251d6077","name":"If1"},{"parameters":{"errorMessage":"=Expected output: \"Successfully validated credentials\". Received \"{{ $json.response }}\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[740,-1240],"id":"50608c14-c29e-4af6-8239-865a81f7c7db","name":"Stop and Error1"},{"parameters":{"content":"## webhook_&_requests_02\n\n- On utilise des credentials de type Header --> On passe alors une pair Key, Value avec une key Authorization et une valeur commencant par Bearer","height":320,"width":1700,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,-1420],"id":"ea8aed50-50c2-406a-8294-31ca4b3b268e","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"credential_type","value":"Authorization","type":"string"},{"id":"744080b2-f704-46c7-881f-8fb551b6d67b","name":"credential_value","value":"Bearer 550e8400-e29b-41d4-a716-446655440000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1300],"id":"4f866d07-91f5-4eb1-8e56-56343bfdb86d","name":"SetArgs1"},{"parameters":{"assignments":{"assignments":[{"id":"2e654668-a528-48cd-b2f7-6c61a6fa268c","name":"response","value":"={{ $json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-960],"id":"ad167ccd-b0a5-4440-a798-0989ab2960e0","name":"SetResult2"},{"parameters":{"errorMessage":"=Expected output: \"Successfully validated credentials\". Received \"{{ $json.response }}\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1140,-840],"id":"cdeba42a-0040-4e02-8fea-57343493e820","name":"Stop and Error2"},{"parameters":{"content":"## webhook_&_requests_03\n\n- On utilise des credentials de type Header --> On passe alors une pair Key, Value avec une key Authorization et une valeur commencant par Bearer\n- Regardez comme le http \"batch\" les items à processer. Vous pouvez enlever le délai. C'est souvent utile pour éviter d'atteindre les API rate en lancant 500 requêtes à la seconde ","height":380,"width":1700,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,-1100],"id":"046f20ff-9d16-48dc-ac49-d14b020a2744","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/webhook_&_requests/02","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $json.credential_type }}","value":"={{ $json.credential_value }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input_1","value":"hello"},{"name":"input_2","value":"world"},{"name":"input_3","value":"={{ $json.input_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-1300],"id":"39874d26-822f-435a-b42b-70a49a33719f","name":"02_Webhook&Requests"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/webhook_&_requests/03","sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $json.id }}"},{"name":"=num_posts","value":"={{ $json.num_posts }}"}]},"options":{"batching":{"batch":{"batchSize":2,"batchInterval":3000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-960],"id":"11b1fbe7-31c7-4082-b8bf-517be47972f3","name":"03_Webhook&Requests"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[140,-960],"id":"c8556328-6b8f-4318-936d-7728dbc4734d","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"79441306-a73d-4f69-81d7-e14214dbcf8a","leftValue":"={{ $json.response.length }}","rightValue":"={{ $('Split Out').item.json.num_posts }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,-960],"id":"2af4d7f5-b06b-4e48-9cb0-525700d297be","name":"CheckNumPostReceived"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"users","value":"[{      \"id\": 1,      \"num_posts\": 8    },    {      \"id\": 2,      \"num_posts\": 5    },    {      \"id\": 11,      \"num_posts\": 5    }]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-960],"id":"e15a05b9-1166-4175-a8c1-9d3b1f875a63","name":"SetTestArgs2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"191e5a16-ca53-4bcb-985b-b55bd84f0429","leftValue":"={{ $('Split Out').item.json.id }}","rightValue":11,"operator":{"type":"number","operation":"equals"}},{"id":"739adfc7-c974-4775-8dfd-25b723898900","leftValue":"={{ $json.response.first() }}","rightValue":"={}","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,-900],"id":"148c72d9-020a-4e56-987f-98ebf837aa26","name":"CheckEmptyOutputForUserId11"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-500,-1300],"id":"45f1193e-4dbf-4239-9833-c3b764e79c14","name":"When clicking ‘Execute workflow’"}],"connections":{"01_Webhook&Requests":{"main":[[{"node":"SetResult","type":"main","index":0}]]},"SetResult":{"main":[[{"node":"If","type":"main","index":0}]]},"SetArgs":{"main":[[{"node":"01_Webhook&Requests","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"SetResult1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]},"SetArgs1":{"main":[[{"node":"02_Webhook&Requests","type":"main","index":0}]]},"SetResult2":{"main":[[{"node":"CheckNumPostReceived","type":"main","index":0}]]},"02_Webhook&Requests":{"main":[[{"node":"SetResult1","type":"main","index":0}]]},"03_Webhook&Requests":{"main":[[{"node":"SetResult2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"03_Webhook&Requests","type":"main","index":0}]]},"CheckNumPostReceived":{"main":[[],[{"node":"CheckEmptyOutputForUserId11","type":"main","index":0}]]},"SetTestArgs2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"CheckEmptyOutputForUserId11":{"main":[[],[{"node":"Stop and Error2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"SetArgs","type":"main","index":0},{"node":"SetArgs1","type":"main","index":0},{"node":"SetTestArgs2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"da20fe27-c7d1-4350-b804-d71e0e88a0d7","triggerCount":0,"tags":[]}