core/n8n/files/workflows/03BKZejCX7oFmcBd.json
{"createdAt":"2025-07-03T13:27:19.737Z","updatedAt":"2025-07-07T13:27:54.000Z","id":"03BKZejCX7oFmcBd","name":"validation","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.test_name }}","rightValue":"webhook_&_request","operator":{"type":"string","operation":"equals"},"id":"98e1ae65-3e67-4de5-9afa-55a382760ceb"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d63092ec-4726-460f-a701-2ecefdf221c4","leftValue":"={{ $json.test_name }}","rightValue":"data_manipulation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-580,-80],"id":"4454b11e-36d2-45ea-a89b-0854ef187895","name":"Switch"},{"parameters":{"content":"## Test triggering\n\nIci vous pouvez \"pinner\" vos data. Regardez comment le Router dispatch les routes pour ajuster la valeur de test_name.\n\n### Exemple\ntest_name = all déclenchera tous les tests. \n\n### Astuces\n- Pensez à pinnez les résultats de vos tests lorsqu'ils sont validés, ca vous évitera de tous les refaire à chaque fois\n- Surtout si les workflow déclencher contient des requêtes API qui consomment des crédits ou de l'argent","height":660,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1100,-440],"id":"aa59ad57-8109-410f-b46c-49ae54a2eb7a","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1020,-80],"id":"63cca686-eaa8-43d9-9aab-85ea8cd4c41c","name":"TriggerTests"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/webhook_&_requests/01","sendBody":true,"bodyParameters":{"parameters":[{"name":"input_1","value":"hello"},{"name":"input_2","value":"world"},{"name":"input_3","value":"={{ $json.input_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-1640],"id":"14187cba-f6ea-4de5-b2b2-248e7e231bf6","name":"01_Webhook&Requests"},{"parameters":{"assignments":{"assignments":[{"id":"2e654668-a528-48cd-b2f7-6c61a6fa268c","name":"resut","value":"={{ $json.resut }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,-1640],"id":"2402a697-e139-4591-a4cf-24e278843eae","name":"SetResult"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79441306-a73d-4f69-81d7-e14214dbcf8a","leftValue":"={{ $json.resut }}","rightValue":"hello world!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[540,-1640],"id":"1b530f65-3745-4ba6-ad15-80ce46ad99c8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"input_1","value":"hello","type":"string"},{"id":"744080b2-f704-46c7-881f-8fb551b6d67b","name":"input_2","value":"world","type":"string"},{"id":"fd920e7b-69b6-4c0d-85af-13259369287f","name":"input_3","value":"!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1640],"id":"1cfbc6b0-63e5-4a3d-8da1-133479ba2724","name":"SetArgs"},{"parameters":{"errorMessage":"=Expected output: \"{{ $('SetArgs').item.json.input_1 }} {{ $('SetArgs').item.json.input_2 }}{{ $('SetArgs').item.json.input_3 }}\". Received \"{{ $json.resut }}\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[740,-1580],"id":"3d0d334f-5620-4c09-a5a1-987af3571b90","name":"Stop and Error"},{"parameters":{"content":"## webhook_&_requests_01","height":320,"width":1160,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-1740],"id":"acc25c38-ac3d-4885-b3e2-05f99afb4255","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"2e654668-a528-48cd-b2f7-6c61a6fa268c","name":"response","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,-1300],"id":"ef5ef316-d279-4991-95d0-04eb82146eb5","name":"SetResult1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79441306-a73d-4f69-81d7-e14214dbcf8a","leftValue":"={{ $json.response }}","rightValue":"=Successfully validated credentials","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[540,-1300],"id":"478c4bf2-a599-4e93-942f-3b54251d6077","name":"If1"},{"parameters":{"errorMessage":"=Expected output: \"Successfully validated credentials\". Received \"{{ $json.response }}\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[740,-1240],"id":"50608c14-c29e-4af6-8239-865a81f7c7db","name":"Stop and Error1"},{"parameters":{"content":"## webhook_&_requests_02\n\n- On utilise des credentials de type Header --> On passe alors une pair Key, Value avec une key Authorization et une valeur commencant par Bearer","height":320,"width":1160,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-1420],"id":"ea8aed50-50c2-406a-8294-31ca4b3b268e","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"credential_type","value":"Authorization","type":"string"},{"id":"744080b2-f704-46c7-881f-8fb551b6d67b","name":"credential_value","value":"Bearer 550e8400-e29b-41d4-a716-446655440000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1300],"id":"4f866d07-91f5-4eb1-8e56-56343bfdb86d","name":"SetArgs1"},{"parameters":{"assignments":{"assignments":[{"id":"2e654668-a528-48cd-b2f7-6c61a6fa268c","name":"response","value":"={{ $json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-960],"id":"ad167ccd-b0a5-4440-a798-0989ab2960e0","name":"SetResult2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"79441306-a73d-4f69-81d7-e14214dbcf8a","leftValue":"={{ $json.response.length }}","rightValue":"={{ $('Split Out').item.json.num_posts }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,-960],"id":"2af4d7f5-b06b-4e48-9cb0-525700d297be","name":"If2"},{"parameters":{"errorMessage":"=Expected output: \"Successfully validated credentials\". Received \"{{ $json.response }}\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[860,-900],"id":"cdeba42a-0040-4e02-8fea-57343493e820","name":"Stop and Error2"},{"parameters":{"content":"## webhook_&_requests_03\n\n- On utilise des credentials de type Header --> On passe alors une pair Key, Value avec une key Authorization et une valeur commencant par Bearer\n- Regardez comme le http \"batch\" les items à processer. Vous pouvez enlever le délai","height":340,"width":1160,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-1100],"id":"046f20ff-9d16-48dc-ac49-d14b020a2744","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"users","value":"[{      \"id\": 1,      \"num_posts\": 8    },    {      \"id\": 2,      \"num_posts\": 5    },    {      \"id\": 11,      \"num_posts\": 1    }]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-960],"id":"e15a05b9-1166-4175-a8c1-9d3b1f875a63","name":"SetArgs2"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/webhook_&_requests/02","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $json.credential_type }}","value":"={{ $json.credential_value }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input_1","value":"hello"},{"name":"input_2","value":"world"},{"name":"input_3","value":"={{ $json.input_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-1300],"id":"39874d26-822f-435a-b42b-70a49a33719f","name":"02_Webhook&Requests"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/webhook_&_requests/03","sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $json.id }}"},{"name":"=num_posts","value":"={{ $json.num_posts }}"}]},"options":{"batching":{"batch":{"batchSize":2,"batchInterval":3000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-960],"id":"11b1fbe7-31c7-4082-b8bf-517be47972f3","name":"03_Webhook&Requests"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[140,-960],"id":"c8556328-6b8f-4318-936d-7728dbc4734d","name":"Split Out"},{"parameters":{"content":"## data_manipulation_01\n\n- L'ouput attendu par votre workflow est le chemin de sauvegarde de votre fichier csv. On utilise ensuite pour charger le fichier, et on vérifie qu'il y a le bon nombre de ligne ainsi que de colonne\n","height":360,"width":1400,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-700],"id":"7edc6461-3e83-4bb9-bd8d-0f12ee9618ec","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"asset_type","value":"stock","type":"string"},{"id":"50b05544-e1d9-4d77-a842-32fd20407425","name":"asset_ticker","value":"AGG","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-580],"id":"4387be70-da55-4096-8ce1-34b718af9dfc","name":"SetArgs3"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/data_manipulation/01","sendBody":true,"bodyParameters":{"parameters":[{"name":"asset_type","value":"={{ $json.asset_type }}"},{"name":"=asset_ticker","value":"={{ $json.asset_ticker }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-580],"id":"3bc9ee7e-c05a-482a-bfe8-beb1beb90b44","name":"03_Webhook&Requests1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646ad97f-b1d2-4b11-8287-0eadcc17ccc3","leftValue":"={{ $json.data.length }}","rightValue":5477,"operator":{"type":"number","operation":"equals"}},{"id":"803a34c7-abc1-434b-9fd5-37ce694ec240","leftValue":"={{ $json.data[0].asset_ticker }}","rightValue":"AGG","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[940,-580],"id":"03618030-663a-449b-8989-1e6ab1640ca4","name":"If3"},{"parameters":{"fileSelector":"={{ $json.filename }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[320,-580],"id":"ac28dc7d-020d-4ca2-ada6-c480dca3d26f","name":"Read/Write Files from Disk"},{"parameters":{"errorMessage":"The number of rows of your csv should be 5477"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1160,-480],"id":"46e0189d-29d3-4700-abc6-bc91a9a0bc12","name":"Stop and Error3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[520,-580],"id":"b7460cf1-e2df-43f2-9af1-e406f38ac1d1","name":"ExtractedCsv"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[720,-580],"id":"9c8b30bd-0a76-4b25-a34e-f1308ea6e4bc","name":"AggregateRows"}],"connections":{"TriggerTests":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"SetArgs","type":"main","index":0},{"node":"SetArgs1","type":"main","index":0},{"node":"SetArgs2","type":"main","index":0}],[{"node":"SetArgs3","type":"main","index":0}]]},"01_Webhook&Requests":{"main":[[{"node":"SetResult","type":"main","index":0}]]},"SetResult":{"main":[[{"node":"If","type":"main","index":0}]]},"SetArgs":{"main":[[{"node":"01_Webhook&Requests","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"SetResult1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]},"SetArgs1":{"main":[[{"node":"02_Webhook&Requests","type":"main","index":0}]]},"SetResult2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Stop and Error2","type":"main","index":0}]]},"SetArgs2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"02_Webhook&Requests":{"main":[[{"node":"SetResult1","type":"main","index":0}]]},"03_Webhook&Requests":{"main":[[{"node":"SetResult2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"03_Webhook&Requests","type":"main","index":0}]]},"SetArgs3":{"main":[[{"node":"03_Webhook&Requests1","type":"main","index":0}]]},"03_Webhook&Requests1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"ExtractedCsv","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"Stop and Error3","type":"main","index":0}]]},"ExtractedCsv":{"main":[[{"node":"AggregateRows","type":"main","index":0}]]},"AggregateRows":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"TriggerTests":[{"json":{"test_name":"data_manipulation"}}]},"versionId":"105450bd-bdf9-40d4-ae58-f91e374a0911","triggerCount":0,"tags":[]}