core/n8n/files/workflows/1ByZos6QPm1IX1XW.json
{"createdAt":"2025-07-14T15:36:10.145Z","updatedAt":"2025-07-14T15:58:36.150Z","id":"1ByZos6QPm1IX1XW","name":"validation","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,-60],"id":"2e171b0a-5dbf-4a6c-bc62-5992fd21d9df","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"documents","limit":10000,"filters":{"conditions":[{"keyName":"id","condition":"gt","keyValue":"100"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-60,-60],"id":"7d5e5f6b-e036-4a03-aa22-ff4881e23af6","name":"Get many rows","credentials":{"supabaseApi":{"id":"YJ0KFnqqujE4ow8K","name":"CampusNumerique"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"embedding"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[180,-60],"id":"dfcfd76b-76ff-4f9d-ad5b-602c58a469fd","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"685970bd-a0c8-41fd-8fef-858dcf6f2140","leftValue":"={{ $json.embedding.length }}","rightValue":500,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,-60],"id":"a536c379-3cfc-4dde-b094-c051014199ef","name":"If"},{"parameters":{},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[640,60],"id":"d1023334-3bde-4560-b662-535eaeb897c0","name":"Stop and Error"},{"parameters":{"content":"## credentials&database_02\n\n- We check that the credentials is working and that the number of chunk documents is greater than 500","height":400,"width":1040,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,-160],"id":"12635180-bb87-4994-bc8b-0a4c7033a49d","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[820,-300],"id":"bfb6085a-32f0-4715-8b4e-5e8a56a8403d","name":"Stop and Error1"},{"parameters":{"content":"## credentials&database_01\n\n- We check that the csv as been successfully imported in the postgresql and that we can get a row by its pk: date/ticker\n- On vérifie que les 4 csv sont ajoutés et qu'on a environ 5800 lignes","height":400,"width":1040,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,-560],"id":"9ae101b6-f63e-470f-a0ff-95fac523167c","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"39e40aef-bd9d-4dbf-9c52-756054afc763","name":"assets","value":"[{\"asset_ticker\":\"BTC\", \"asset_type\":\"digital_currency\"}, {\"asset_ticker\":\"AGG\", \"asset_type\":\"stock\"}, {\"asset_ticker\":\"GLD\", \"asset_type\":\"digital_currency\"}, {\"asset_ticker\":\"SPY\", \"asset_type\":\"digital_currency\"}]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-380],"id":"050be812-1ff6-4921-bc14-3ca37a0a14ee","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"assets","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[100,-380],"id":"286ff4bf-5bdb-4fb0-b5fd-46364cd27118","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"sKap84uRZ6iI3HED","mode":"list","cachedResultName":"credentials&database_01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"asset_ticker":"={{ $json.asset_ticker }}","asset_type":"={{ $json.asset_type }}"},"matchingColumns":[],"schema":[{"id":"asset_ticker","displayName":"asset_ticker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"asset_type","displayName":"asset_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[300,-380],"id":"6d9df17c-4d8a-496a-825e-646858b95bfb","name":"Execute Workflow"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"date"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,-380],"id":"3f4f6119-f347-4a0d-b545-5666305d8e85","name":"Aggregate1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7d27b4d-6345-4110-b837-d834970d5450","leftValue":"={{ $json.date.length }}","rightValue":5800,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,-380],"id":"78f6f902-2c4c-487d-b764-829460415ade","name":"If1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ea3982c-8a98-471b-be7c-413314abfa8b","triggerCount":0,"tags":[]}