core/n8n/files/workflows/1EQkVuhJCSBro46t.json
{"createdAt":"2025-07-08T13:53:31.774Z","updatedAt":"2025-07-08T15:57:53.178Z","id":"1EQkVuhJCSBro46t","name":"workflow&subworkflow_validation","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## workflow&subworkflow_01","height":340,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,1000],"id":"a8d20672-5db7-46d3-adc6-d867c272a195","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"b0c25344-c40a-4374-8cd9-79ae95f857d7","name":"firstname","value":"Manu","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,1100],"id":"73b1ec11-cb1a-4aad-a841-eaa768beec2c","name":"SetName"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86f1767-8bcb-454a-af7e-2c99f439c356","leftValue":"={{ $json.response }}","rightValue":"Greatings Manu !","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,1100],"id":"9f4cf53c-55a8-4a8e-950b-31b4721e3546","name":"If5"},{"parameters":{"errorMessage":"=Received \"{{$json.response}}\" - Expecting \"Greatings Manu !\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[700,1220],"id":"2eda636d-b9ac-47f8-8a94-4dc4779fbc8d","name":"Stop and Error6"},{"parameters":{"content":"## workflow&subworkflow_02","height":340,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,1340],"id":"ec3e41f4-1ba4-4c8a-91da-62e0f9bce83d","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"f44196d0-fe48-4f13-9489-e95b7c85b40c","name":"users","value":"[\n      {\n        \"user_id\": 1,\n        \"num_posts\": 4\n      },\n      {\n        \"user_id\": 2,\n        \"num_posts\": 3\n      },\n      {\n        \"user_id\": 3,\n        \"num_posts\": 8\n      },\n      {\n        \"user_id\": 4,\n        \"num_posts\": 9\n      },\n      {\n        \"user_id\": 5,\n        \"num_posts\": 6\n      },\n      {\n        \"user_id\": 6,\n        \"num_posts\": 2\n      },\n      {\n        \"user_id\": 7,\n        \"num_posts\": 7\n      },\n      {\n        \"user_id\": 8,\n        \"num_posts\": 4\n      },\n      {\n        \"user_id\": 9,\n        \"num_posts\": 1\n      },\n      {\n        \"user_id\": 10,\n        \"num_posts\": 2\n      }\n    ]\n ","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,1440],"id":"4f215a88-7155-4cc2-9751-954a6a445fbf","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,1260],"id":"17982cff-1d8c-446c-a2e4-c1015d206a3f","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## workflow&subworkflow_03: (Bonus)\n\n- \"The service is receiving too many requests from you\" --> Vous êtes grillé. Il faut attendre en général 30mn.","height":340,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,1680],"id":"6e12870c-40aa-49ad-a2aa-f4235cfd8052","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"f44196d0-fe48-4f13-9489-e95b7c85b40c","name":"requestKeywords","value":"=[\n    \"China stocks 2\",\n    \"India stocks 2\",\n    \"Nikkei 225 2\",\n    \"European stocks 2\",\n    \"Bond market 2\",\n    \"Yield curve 2\",\n    \"Credit spreads 2\",\n    \"Commodity prices 2\",\n    \"Silver price 2\",\n    \"Copper price 2\",\n    \"Energy markets 2\",\n    \"Housing starts 2\",\n    \"Consumer confidence 2\",\n    \"Retail sales 2\",\n    \"Corporate earnings 2\",\n    \"Dividends 2\",\n    \"Share buybacks 2\",\n    \"Options volume 2\",\n    \"VIX term structure 2\",\n    \"Volatility skew 2\",\n    \"ESG investing 2\",\n    \"Sustainable finance 2\",\n    \"Crypto regulation 2\",\n    \"DeFi 2\",\n    \"NFT market 2\",\n    \"SPX 2\",\n    \"DJIA 2\",\n    \"Credit default swaps 2\",\n    \"SPY 3\",\n    \"AGG 3\",\n    \"GLD 3\",\n    \"VIX 3\",\n    \"BTC 3\",\n    \"ETH 3\",\n    \"DXY 3\",\n    \"EUR/USD 3\",\n    \"Gold price 3\",\n    \"Oil price 3\",\n    \"Treasury yield 3\",\n    \"Bitcoin halving 3\",\n    \"Market volatility 3\",\n    \"Inflation data 3\",\n    \"CPI 3\",\n    \"PPI 3\",\n    \"GDP growth 3\",\n    \"Unemployment rate 3\",\n    \"Tech stocks 3\",\n    \"FAANG 3\",\n    \"Emerging markets 3\",\n    \"China stocks 3\",\n    \"India stocks 3\",\n    \"Nikkei 225 3\",\n    \"European stocks 3\",\n    \"Bond market 3\",\n    \"Yield curve 3\",\n    \"Credit spreads 3\",\n    \"Commodity prices 3\",\n    \"Silver price 3\",\n    \"Copper price 3\",\n    \"Energy markets 3\",\n    \"Housing starts 3\",\n    \"Consumer confidence 3\",\n    \"Retail sales 3\",\n    \"Corporate earnings 3\",\n    \"Dividends 3\",\n    \"Share buybacks 3\",\n    \"Options volume 3\",\n    \"VIX term structure 3\",\n    \"Volatility skew 3\",\n    \"ESG investing 3\",\n    \"Sustainable finance 3\",\n    \"Crypto regulation 3\",\n    \"DeFi 3\",\n    \"NFT market 3\",\n    \"SPX 3\",\n    \"DJIA 3\",\n    \"Credit default swaps 3\",\n    \"SPY 4\",\n    \"AGG 4\",\n    \"GLD 4\",\n    \"VIX 4\",\n    \"BTC 4\",\n    \"ETH 4\",\n    \"DXY 4\",\n    \"EUR/USD 4\",\n    \"Gold price 4\",\n    \"Oil price 4\",\n    \"Treasury yield 4\",\n    \"Bitcoin halving 4\",\n    \"Market volatility 4\",\n    \"Inflation data 4\",\n    \"CPI 4\",\n    \"PPI 4\",\n    \"GDP growth 4\",\n    \"Unemployment rate 4\",\n    \"Tech stocks 4\",\n    \"FAANG 4\",\n    \"Emerging markets 4\",\n    \"China stocks 4\",\n    \"India stocks 4\",\n    \"Nikkei 225 4\",\n    \"European stocks 4\",\n    \"Bond market 4\",\n    \"Yield curve 4\",\n    \"Credit spreads 4\",\n    \"Commodity prices 4\",\n    \"Silver price 4\",\n    \"Copper price 4\",\n    \"Energy markets 4\",\n    \"Housing starts 4\",\n    \"Consumer confidence 4\",\n    \"Retail sales 4\",\n    \"Corporate earnings 4\",\n    \"Dividends 4\",\n    \"Share buybacks 4\",\n    \"Options volume 4\",\n    \"VIX term structure 4\",\n    \"Volatility skew 4\",\n    \"ESG investing 4\",\n    \"Sustainable finance 4\",\n    \"Crypto regulation 4\",\n    \"DeFi 4\",\n    \"NFT market 4\",\n    \"SPX 4\",\n    \"DJIA 4\",\n    \"Credit default swaps 4\",\n    \"SPY 5\",\n    \"AGG 5\",\n    \"GLD 5\",\n    \"VIX 5\",\n    \"BTC 5\",\n    \"ETH 5\",\n    \"DXY 5\",\n    \"EUR/USD 5\",\n    \"Gold price 5\",\n    \"Oil price 5\",\n    \"Treasury yield 5\",\n    \"Bitcoin halving 5\",\n    \"Market volatility 5\",\n    \"Inflation data 5\",\n    \"CPI 5\",\n    \"PPI 5\",\n    \"GDP growth 5\",\n    \"Unemployment rate 5\",\n    \"Tech stocks 5\",\n    \"FAANG 5\",\n    \"Emerging markets 5\",\n    \"China stocks 5\",\n    \"India stocks 5\",\n    \"Nikkei 225 5\",\n    \"European stocks 5\",\n    \"Bond market 5\",\n    \"Yield curve 5\",\n    \"Credit spreads 5\",\n    \"Commodity prices 5\",\n    \"Silver price 5\",\n    \"Copper price 5\",\n    \"Energy markets 5\",\n    \"Housing starts 5\",\n    \"Consumer confidence 5\",\n    \"Retail sales 5\",\n    \"Corporate earnings 5\",\n    \"Dividends 5\",\n    \"Share buybacks 5\",\n    \"Options volume 5\",\n    \"VIX term structure 5\",\n    \"Volatility skew 5\",\n    \"ESG investing 5\",\n    \"Sustainable finance 5\",\n    \"Crypto regulation 5\",\n    \"DeFi 5\",\n    \"NFT market 5\",\n    \"SPX 5\",\n    \"DJIA 5\",\n    \"Credit default swaps 5\",\n    \"SPY 6\",\n    \"AGG 6\",\n    \"GLD 6\",\n    \"VIX 6\",\n    \"BTC 6\",\n    \"ETH 6\",\n    \"DXY 6\",\n    \"EUR/USD 6\",\n    \"Gold price 6\",\n    \"Oil price 6\",\n    \"Treasury yield 6\",\n    \"Bitcoin halving 6\",\n    \"Market volatility 6\",\n    \"Inflation data 6\",\n    \"CPI 6\",\n    \"PPI 6\",\n    \"GDP growth 6\",\n    \"Unemployment rate 6\",\n    \"Tech stocks 6\",\n    \"FAANG 6\",\n    \"Emerging markets 6\",\n    \"China stocks 6\",\n    \"India stocks 6\",\n    \"Nikkei 225 6\",\n    \"European stocks 6\",\n    \"Bond market 6\",\n    \"Yield curve 6\",\n    \"Credit spreads 6\",\n    \"Commodity prices 6\",\n    \"Silver price 6\",\n    \"Copper price 6\",\n    \"Energy markets 6\",\n    \"Housing starts 6\",\n    \"Consumer confidence 6\",\n    \"Retail sales 6\",\n    \"Corporate earnings 6\",\n    \"Dividends 6\",\n    \"Share buybacks 6\",\n    \"Options volume 6\",\n    \"VIX term structure 6\",\n    \"Volatility skew 6\",\n    \"ESG investing 6\",\n    \"Sustainable finance 6\",\n    \"Crypto regulation 6\",\n    \"DeFi 6\",\n    \"NFT market 6\",\n    \"SPX 6\",\n    \"DJIA 6\",\n    \"Credit default swaps 6\",\n    \"SPY 7\",\n    \"AGG 7\",\n    \"GLD 7\",\n    \"VIX 7\",\n    \"BTC 7\",\n    \"ETH 7\",\n    \"DXY 7\",\n    \"EUR/USD 7\",\n    \"Gold price 7\",\n    \"Oil price 7\",\n    \"Treasury yield 7\",\n    \"Bitcoin halving 7\",\n    \"Market volatility 7\",\n    \"Inflation data 7\",\n    \"CPI 7\",\n    \"PPI 7\",\n    \"GDP growth 7\",\n    \"Unemployment rate 7\",\n    \"Tech stocks 7\",\n    \"FAANG 7\",\n    \"Emerging markets 7\",\n    \"China stocks 7\",\n    \"India stocks 7\",\n    \"Nikkei 225 7\",\n    \"European stocks 7\",\n    \"Bond market 7\",\n    \"Yield curve 7\",\n    \"Credit spreads 7\",\n    \"Commodity prices 7\",\n    \"Silver price 7\",\n    \"Copper price 7\",\n    \"Energy markets 7\",\n    \"Housing starts 7\",\n    \"Consumer confidence 7\",\n    \"Retail sales 7\",\n    \"Corporate earnings 7\",\n    \"Dividends 7\",\n    \"Share buybacks 7\",\n    \"Options volume 7\",\n    \"VIX term structure 7\",\n    \"Volatility skew 7\",\n    \"ESG investing 7\",\n    \"Sustainable finance 7\",\n    \"Crypto regulation 7\",\n    \"DeFi 7\",\n    \"NFT market 7\",\n    \"SPX 7\",\n    \"DJIA 7\",\n    \"Credit default swaps 7\",\n    \"SPY 8\",\n    \"AGG 8\",\n    \"GLD 8\",\n    \"VIX 8\",\n    \"BTC 8\",\n    \"ETH 8\",\n    \"DXY 8\",\n    \"EUR/USD 8\",\n    \"Gold price 8\",\n    \"Oil price 8\",\n    \"Treasury yield 8\",\n    \"Bitcoin halving 8\",\n    \"Market volatility 8\",\n    \"Inflation data 8\",\n    \"CPI 8\",\n    \"PPI 8\",\n    \"GDP growth 8\",\n    \"Unemployment rate 8\",\n    \"Tech stocks 8\",\n    \"FAANG 8\",\n    \"Emerging markets 8\",\n    \"China stocks 8\",\n    \"India stocks 8\",\n    \"Nikkei 225 8\"\n  ]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,1820],"id":"10dad678-d967-4c8e-b920-24ab03051595","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d841edd8-cf34-47bd-8ed8-924fa116bf5c","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,1440],"id":"9d928fb5-8379-418c-a294-c58cc567bb37","name":"CheckIfEmpty"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78f6a256-e69c-4e81-869a-2f34dc62b545","leftValue":"={{ $json.isValide }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,1540],"id":"3bcf3cdd-15fb-403c-9a30-8fc3c0e5b87a","name":"If"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const userId = $input.item.json.data[0].userId\nconst numPosts = $input.item.json.data.length\n\nconst testValues = $('Edit Fields').item.json.users\n\nfor (let index = 0; index < testValues.length; index++) {\n  const element = testValues[index];\n  if (element.user_id==userId && element.num_posts==numPosts) {\n    return {\"isValide\": true}\n  }\n}\nreturn {\"isValide\": false}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,1540],"id":"aa142902-9fa0-4387-a73d-40ea47083669","name":"Code1"},{"parameters":{"errorMessage":"=Didnt received the number of posts requested"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1160,1560],"id":"bc3c1ae3-3f0f-44bf-a7b0-4f6dd00e03e8","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"77a00daf-902b-4ad7-b0b2-55c029fc1421","name":"start_time","value":"={{ $now }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,1820],"id":"4c8da297-8a69-4c57-926a-b0962c8d0ce3","name":"Edit Fields2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[560,1820],"id":"60ca6e0c-af31-4b09-8348-096a72618c80","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"77a00daf-902b-4ad7-b0b2-55c029fc1421","name":"end_time","value":"={{ $now }}","type":"object"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,1820],"id":"3606c219-6fbe-4a9d-ab25-a04b33285b72","name":"Edit Fields3"},{"parameters":{"workflowId":{"__rl":true,"value":"fCIQR6wyhXt9mnb8","mode":"list","cachedResultName":"workflow&subworkflow_02"},"workflowInputs":{"mappingMode":"defineBelow","value":{"users":"={{ $json.users }}"},"matchingColumns":["name"],"schema":[{"id":"users","displayName":"users","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[200,1440],"id":"8f907951-27c3-4cf3-9db3-a06741c75192","name":"CallWorkflow02","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"WoG3mUdC91cXDtfc","mode":"list","cachedResultName":"workflow&subworkflow_01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $json.firstname }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[160,1100],"id":"027fb1fd-acdf-4761-86bf-d5b4a681dec8","name":"CallWorkflow01"},{"parameters":{"workflowId":{"__rl":true,"value":"cl7DenhrxZNTbuJK","mode":"list","cachedResultName":"workflow&subworkflow_03"},"workflowInputs":{"mappingMode":"defineBelow","value":{"google-keywords":"={{ $json.requestKeywords }}"},"matchingColumns":["google-keywords"],"schema":[{"id":"google-keywords","displayName":"google-keywords","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[340,1820],"id":"7ad6f615-7d36-4197-8835-5bbdf447c54f","name":"CallWorkflow03"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $('Edit Fields2').item.json.start_time }}","endDate":"={{ $json.end_time }}","units":["second"],"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[960,1820],"id":"9c9e92a2-93d9-4d5d-9bde-8391c892a5a4","name":"ComputeTime","notesInFlow":true,"notes":"We expect to have more than 8 seconds delay. 5 batch of 10 separated by 2000ms"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89778129-0355-4b6a-900a-aa9a255c544b","leftValue":"={{ $json.timeDifference.seconds }}","rightValue":8,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,1820],"id":"c6ff1965-597c-4692-bed8-7c28626bfe3e","name":"If1"},{"parameters":{"errorMessage":"=You didn't respect the API rate"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1380,1880],"id":"74e7e79b-5885-4a47-b50a-db5920673a07","name":"Stop and Error1"}],"connections":{"SetName":{"main":[[{"node":"CallWorkflow01","type":"main","index":0}]]},"If5":{"main":[[],[{"node":"Stop and Error6","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"SetName","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"CallWorkflow02","type":"main","index":0}]]},"CheckIfEmpty":{"main":[[{"node":"Stop and Error6","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"CallWorkflow03","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"ComputeTime","type":"main","index":0}]]},"CallWorkflow02":{"main":[[{"node":"CheckIfEmpty","type":"main","index":0}]]},"CallWorkflow01":{"main":[[{"node":"If5","type":"main","index":0}]]},"CallWorkflow03":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"ComputeTime":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f0cb6e1-52ec-4061-85b3-242984cbdc74","triggerCount":0,"tags":[]}