core/n8n/files/workflows/3cU5uJPHDakh8FbO.json
{"createdAt":"2025-07-04T13:07:11.500Z","updatedAt":"2025-07-04T18:33:20.439Z","id":"3cU5uJPHDakh8FbO","name":"webhook_&_requests_03","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Used nodes","height":300,"width":1260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,880],"id":"442fb3a7-5df0-4b44-8779-4ccc342ecf76","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"api/webhook_&_requests/03","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,980],"id":"6d1ba279-5740-41a8-b8f0-059b3f06c9e3","name":"Webhook1","webhookId":"be2513a2-16ab-4cb9-af58-7db74830e9cf"},{"parameters":{"content":"## Resources\n\n- ","width":1260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,720],"id":"6bf3032f-360d-409a-a856-07f613842860","name":"Sticky Note3"},{"parameters":{"content":"## Consignes\n\n1. Allez sur https://jsonplaceholder.typicode.com/guide/ et explorez la doc\n2. Regardez le test correspondant: Vous voyez que, avant d'appeler ce workflow, on utilise un split node pour que notre tableau de taille trois, devienne en fait 3 items spérarés à processer. Cela signifie que vous devez concevoir ce workflow comme processant un seul item à la fois et doit donc être adaptable.\n3. Pour chaque user id vous devez renvoyer autant de post que demandé","height":300,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,420],"id":"6a43b428-f4bd-47fe-ae3b-015b5e3d6e30","name":"Sticky Note4"},{"parameters":{"content":"## Astuces\n\n1. Utilisez un router\n2. Pensez à regarder vos executions et pinner les datas\n3. Utilisez \"put response in field\" dans la reponse\n4. N'oubliez de regrouper les items (ici les posts) dans un seul tableau à renvoyer dans le json. Sinon, vous allez renvoyer seulement le premier. N'hésitez pas à vous tromper et comprendre ce qu'il se passe\n5. si vous votre réponse renvoie des [object, Objects], pensez à utiliser la notation {{ $json. }} et l'autocompletion qui vous est proposé.\nIndice: Il faut en faire quelque chose de valide","height":300,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,420],"id":"70905c4c-9a34-47ee-87f4-fb049406f189","name":"Sticky Note5"},{"parameters":{"url":"https://jsonplaceholder.typicode.com/posts?userId=1","sendBody":true,"bodyParameters":{"parameters":[{"name":"page","value":"1"},{"name":"perPage","value":"50"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,980],"id":"9b783bb5-2fbb-4769-ab4b-1bed2e212ba8","name":"HTTP Request"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"response\": {{ $json.data.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1000,980],"id":"42df4912-9db8-4717-8405-68b9d514acc7","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"f18207fc-8ea1-4b6f-b67c-0577dbafcf1b","name":"user_id","value":"={{ $json.body.user_id }}","type":"number"},{"id":"a10d613a-6d18-4097-817e-cec76603dc29","name":"num_posts","value":"={{ $json.body.num_posts }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,980],"id":"831239ab-8032-479d-a256-1628b2ec038c","name":"ParseArgs"},{"parameters":{"maxItems":"={{ $('Webhook1').item.json.body.num_posts }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[620,980],"id":"1b09c3d1-a791-4d30-855a-baa922bc77e5","name":"Limit"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[800,980],"id":"dae047b3-11dd-4f85-b9b9-26615eebc913","name":"Aggregate"}],"connections":{"Webhook1":{"main":[[{"node":"ParseArgs","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"ParseArgs":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","content-type":"application/json","user-agent":"axios/1.8.3","content-length":"31","accept-encoding":"gzip, compress, deflate, br","host":"localhost:5677","connection":"close"},"params":{},"query":{},"body":{"user_id":11,"num_comments":1},"webhookUrl":"http://localhost:5677/webhook/api/webhook_&_requests/03","executionMode":"production"}}]},"versionId":"7b65be8b-2e78-4e68-9212-7238cc3870f8","triggerCount":1,"tags":[]}