core/n8n/files/workflows/cl7DenhrxZNTbuJK.json
{"createdAt":"2025-07-08T14:59:53.675Z","updatedAt":"2025-07-08T15:18:17.231Z","id":"cl7DenhrxZNTbuJK","name":"workflow&subworkflow_03","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Consignes\n\n1. Connectez ce workflow au test de validation. Ajustez le type d'entrée accepter\n2. Trouvez une solution pour empêcher que google nous renvoie une erreur de rate exceeded\n3. Assurez vous de renvoyer autant d'output qu'il y a de keywords.","height":320,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-580],"id":"33169304-7598-4917-bef8-d81e9436d325","name":"Sticky Note"},{"parameters":{"content":"## Astuces\n\n1. Ici vous êtes relativement libre il y a deux options principales. Utilisez le batching de request, ou une loop et un delai. De votre choix dépendra comment vous appelez le workflow fetch-google-rate-limite, et processer le tableau d'items","height":480,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-580],"id":"cbf26c47-2c0e-4838-9980-bb82bb5c278d","name":"Sticky Note1"},{"parameters":{"workflowInputs":{"values":[{"name":"google-keywords","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[140,20],"id":"49b4ee70-5220-439c-894e-6dc02df773f9","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Trigger node\n\nCe workflow est trigger par le workflow de validation","height":320,"width":1240,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-100],"id":"653316a4-d281-4b07-923a-92cf41400e21","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"p9DNHt2BLRbiQP88","mode":"list","cachedResultName":"fetch-google-rate-limit"},"workflowInputs":{"mappingMode":"defineBelow","value":{"google-keywords":"={{ $json['[\\'google-keywords\\']'] }}"},"matchingColumns":["name"],"schema":[{"id":"google-keywords","displayName":"google-keywords","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[740,20],"id":"48ad52ae-d0af-4937-a691-f86d15d206e1","name":"Execute Workflow"},{"parameters":{"fieldToSplitOut":"['google-keywords']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[440,20],"id":"7a434e7b-babe-4a78-912c-e9d36abbd4b2","name":"Split Out"},{"parameters":{"content":"## Resources \n- https://docs.n8n.io/integrations/builtin/rate-limits/#use-loop-over-items-and-wait","width":720},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-260],"id":"0d7a6070-3e89-47bf-b43c-e1805e4bc3d1","name":"Sticky Note3"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"Split Out":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"google-keywords":["SPY","AGG","GLD","VIX","BTC","Gold price","Treasury yield","Bitcoin halving","Market volatility","Inflation data"]}}]},"versionId":"088f9f55-058c-4331-b5bd-cecbcf6ead7a","triggerCount":0,"tags":[]}