core/n8n/files/workflows/f2X71ZEH5EN5RTMa.json
{"createdAt":"2025-07-08T10:32:07.731Z","updatedAt":"2025-07-08T14:10:37.386Z","id":"f2X71ZEH5EN5RTMa","name":"fetch-json","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Consignes\n\nAprès récupérer tous les posts d'un utilisateurs, puis filter leur nombre selon le paramètre num_posts recu, vous allez créer une requête supplémentaire en suivant l'api: https://jsonplaceholder.typicode.com/guide/\n\n### Listing nested resources :\n\n// This is equivalent to /comments?postId=1\nfetch('https://jsonplaceholder.typicode.com/posts/1/comments')\n  .then((response) => response.json())\n  .then((json) => console.log(json));\n\nPour chaque post récupéré, on veut maintenant fetcher les commentaires. Vous allez voir que ca va commencer à faire beaucoup de requêtes et qu'il faudra utiliser des batchs, ou des delay, et soigneusement configurer l'appel de ce workflow","height":340,"width":1140,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,-480],"id":"172065e8-b56d-4edc-9fb2-b0f604ffb914","name":"Sticky Note2"},{"parameters":{"url":"=https://jsonplaceholder.typicode.com/posts?userId={{ $json.user_id }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"page","value":"1"},{"name":"perPage","value":"50"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-80],"id":"be47e40c-a35e-49ee-bd5b-6c22f0ea3d62","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"f18207fc-8ea1-4b6f-b67c-0577dbafcf1b","name":"user_id","value":"={{ $json.user_id }}","type":"number"},{"id":"a10d613a-6d18-4097-817e-cec76603dc29","name":"num_posts","value":"={{ $json.num_posts }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-80],"id":"5e245d4f-d87f-4648-977a-17e20f7b6187","name":"ParseArgs"},{"parameters":{"maxItems":"={{ $('ParseArgs').item.json.num_posts }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[520,-80],"id":"43f1b057-a64c-44e5-bd19-a65891d5f7be","name":"Limit"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[780,-80],"id":"6475af7c-c2c8-4434-b582-cd0564fb70bb","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"user_id","type":"number"},{"name":"num_posts","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-100,-80],"id":"64d34cb6-52b7-42be-9ad8-06d4a726130d","name":"When Executed by Another Workflow"}],"connections":{"HTTP Request":{"main":[[{"node":"Limit","type":"main","index":0}]]},"ParseArgs":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"ParseArgs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8db62f10-1a0d-4a52-9a5f-4c48d8611a3c","triggerCount":0,"tags":[]}