core/n8n/files/workflows/fCIQR6wyhXt9mnb8.json
{"createdAt":"2025-07-08T10:25:58.123Z","updatedAt":"2025-07-08T14:40:50.797Z","id":"fCIQR6wyhXt9mnb8","name":"workflow&subworkflow_02","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Consignes\n\n1. Créer un workflow fetch-json et copier coller le webhook&requests_03\n2. Modifier son trigger pour qu'il puisse être appelé par un workflow et recevoir les paramètres:\n-- user_id\n-- num_posts\n3. Dans ce workflow, utilisez le bon trigger pour que le test puisse l'appeler. Regardez dans le test quel est le type d'input envoyé. Faites le nécessaire pour le traiter correctement et fetcher toutes les données pour chaque utilisateurs\n\n\nNOTE: Ici, l'api utilisée pour fetcher les posts des users n'a pas de API rate. Cela signifie qu'on pourrait appeler le workflow en parallèle avec des milliers d'items, on ne serait pas bloqué. Ce cas n'est évident n'a jamais la réalité.\n\nPassez au workflow \"workflow&subworkflow_03\" pour tester un cas ou les requêtes sont limitées.\n","height":480,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-580],"id":"8109551f-618b-4e76-af6f-015a302092be","name":"Sticky Note"},{"parameters":{"content":"## Astuces\n\n1. Pensez à regarder le workflow de validation pour vous guider\n2. Pensez toujours à aller dans les executions pour récupérer les données recues en input et les épingler pour debugger plus facilement","height":480,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-580],"id":"c84e7967-1aa7-4116-8e16-1023b6638b7e","name":"Sticky Note1"},{"parameters":{"workflowInputs":{"values":[{"name":"users","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[140,20],"id":"0a7b921c-d29a-4f45-a988-6e8fa51106d3","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"43b43ae5-916f-40a1-b84d-dd14f715478c","name":"user_id","value":"={{ $json.user_id }}","type":"number"},{"id":"b7b30385-9ac3-4871-a1da-8268742076cc","name":"num_posts","value":"={{ $json.num_posts }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,20],"id":"61650027-8b14-4c91-8de9-717b55405a8a","name":"Edit Fields"},{"parameters":{"content":"## Trigger node\n\nCe workflow est trigger par le workflow de validation","height":320,"width":1240,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-100],"id":"ca1f7928-2376-4f5d-85a3-36760b1fcfe0","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"f2X71ZEH5EN5RTMa","mode":"list","cachedResultName":"fetch-json"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.user_id }}","num_posts":"={{ $json.num_posts }}"},"matchingColumns":["name"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"num_posts","displayName":"num_posts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[740,20],"id":"2ab08350-e1ac-4bf8-9ce9-3ddd9e046d5e","name":"Execute Workflow"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[340,20],"id":"83ed3cbd-0d52-48de-aa86-2ef5b1e4ccd7","name":"Split Out"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"users":[{"userd_id":1,"num_posts":7},{"userd_id":2,"num_posts":3},{"userd_id":3,"num_posts":8},{"userd_id":4,"num_posts":9},{"userd_id":5,"num_posts":6},{"userd_id":6,"num_posts":2},{"userd_id":7,"num_posts":7},{"userd_id":8,"num_posts":4},{"userd_id":9,"num_posts":1},{"userd_id":10,"num_posts":2}]}}]},"versionId":"2f8a3163-121d-431f-9742-c382afe12a74","triggerCount":0,"tags":[]}