core/n8n/files/workflows/Kgp45iTcTkcqOFMR.json
{"createdAt":"2025-07-07T09:22:26.740Z","updatedAt":"2025-07-07T16:13:43.401Z","id":"Kgp45iTcTkcqOFMR","name":"data_manipulation_02","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Notes\n\n1. N'oublize pas de régulièrement utiliser en Set node pour figer proprement vos variables\n2. Pensez à explorer les executions pour voir les données\n3. Pensez à pinner les data pour le debugging\n4. Si vous glisser la valeur de \"date\" dans le noeud de fonction vous verrez $json[\"﻿ date\"] avec un point rouge. C'est un character spécial. printer le dict complet pour voir quelle est cette valeur pour y accéder (\\ufeffdate)\npensez é cocher le settings always output data. Si la filtration ne renvoie rien, le workflow s'arrête et n8n considère que c'est une erreur. Mieux vaut renvoyer un objet vide","height":460,"width":1220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,-1040],"id":"71914ed9-a0f7-4655-a9f1-636d00db0200","name":"Sticky Note1"},{"parameters":{"content":"## Resources\n\n- https://www.youtube.com/watch?v=Rmi-ckbMOQE&list=PLlET0GsrLUL59YbxstZE71WszP3pVnZfI&index=6&ab_channel=n8n\n- https://www.ionos.fr/digitalguide/sites-internet/developpement-web/python-string-to-datetime/","height":220,"width":1960,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-580],"id":"428e6917-9b29-407f-bdff-3a0c8f01847f","name":"Sticky Note3"},{"parameters":{"content":"## Consignes\n\nVous allez créer un workflow qui import votre fichier **.csv** que vous venez de générer. L'idée ici sera d'utiliser un filter node et manipuler les datetime pour ne garder qu'une partie de notre dataset selon les inputs demandés.\nOn pourra filtrer par la date de début et la date de fin, on devra aussi, si fourni, être capable de filtrer par le nom du jour de la semaine.\n\n- Importer le fichier csv par son nom toujours en utilisant comme inputs:\n-- asset_type\n-- asset_ticker\n-- start_date\n-- end_date\n-- optional: Jours de la semaine (Monday, Tuesday etc)\n\n- filtrer pour ne renvoyer que les data comprises entre les deux date envoyées en inputs\n- Après cette première filtration: Explorer la doc de datetime en python, créer un noeud de code et import datetime. Enrichissez votre dataset avec le numero de semaine ainsi que le jour de la semaine (Monday, Tuesday...)\n- Réappliquer une filtration SI besoin","height":460,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-1040],"id":"973fc443-bef4-467b-9c14-817fa13acbc4","name":"Sticky Note2"},{"parameters":{"content":"## Your solution","height":580,"width":1960,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-360],"id":"bb3f5107-24b6-41c7-af04-d1e63f5c7fc8","name":"Sticky Note4"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1200,-160],"id":"5edd9a7c-455a-4de6-a25a-a3b4234111e8","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"api/data_manipulation/02","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,-200],"id":"68a14727-cc65-4c4f-acbe-85868ead5212","name":"Webhook1","webhookId":"aba40448-3834-4eb5-98e9-c14bfdebe305"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"707ec52b-2cf6-4817-9d34-6d1c64bcee4e","leftValue":"={{ $('ExtractCsv').item.json['﻿date'] }}","rightValue":"={{ $('ParseArgs').item.json.start_date }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"ab12b8c0-cc0c-4154-8042-16e49d5c1ae1","leftValue":"={{ $('ExtractCsv').item.json['﻿date'] }}","rightValue":"={{ $('ParseArgs').item.json.end_date }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[400,-200],"id":"c3fbe2d0-bde9-4a6a-a836-c53d1f6397ba","name":"Filter"},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"from datetime import datetime\n# Add a new field called 'myNewField' to the JSON of the item\ndate_str = _input.item.json[\"\\ufeffdate\"].strip()\ndt = datetime.strptime(date_str, \"%Y-%m-%d\")\n_input.item.json.day_name = str(dt.strftime(\"%A\"))\n_input.item.json.week_num = int(dt.isocalendar().week)\nreturn _input.item"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,-200],"id":"d8530cdc-34ad-4766-8754-612ad887dab5","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"c8b4c374-d0fb-4727-919d-39fb58a53e76","name":"asset_ticker","value":"={{ $json.body.asset_ticker }}","type":"string"},{"id":"5863e6c7-494e-481e-b8ae-997064edc53d","name":"asset_type","value":"={{ $json.body.asset_type }}","type":"string"},{"id":"59d2deb2-af0d-4871-af0c-1e88ab88b39b","name":"start_date","value":"={{ $json.body.start_date }}","type":"string"},{"id":"556c33a7-cc7e-4fee-9d3b-b922c470c301","name":"end_date","value":"={{ $json.body.end_date }}","type":"string"},{"id":"195853bd-4f66-4262-8fae-d53e8ca62c87","name":"day_name","value":"={{ $json.body.day_name || \"\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-200],"id":"10450cfd-dae0-4e9b-acc9-af47d57c9e0d","name":"ParseArgs"},{"parameters":{"fileSelector":"=/home/node/files/assets/partie_1/2_DataManipulation/daily_series_flat/{{ $json.asset_type }}_{{ $json.asset_ticker }}.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[20,-200],"id":"b88f2d68-3805-45d1-bf08-65a3f6bfdd38","name":"ImportFile","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,-200],"id":"e1c75d54-9bdc-4770-bfce-d225f654b028","name":"ExtractCsv"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92e29cad-2cb3-4806-a2a1-9a5b92709bd2","leftValue":"={{ $('ParseArgs').item.json.day_name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,-200],"id":"381c6919-4552-4ce3-85a3-659fee4383f6","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8f5ff75-aa4b-4da0-a4c6-0e6e15d48d3b","leftValue":"={{ $json.day_name }}","rightValue":"={{ $('ParseArgs').item.json.day_name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1040,-300],"id":"068fe94d-a60f-4860-b020-660918753f81","name":"Filter1","alwaysOutputData":true}],"connections":{"Webhook1":{"main":[[{"node":"ParseArgs","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code","type":"main","index":0}]]},"ParseArgs":{"main":[[{"node":"ImportFile","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"ImportFile":{"main":[[{"node":"ExtractCsv","type":"main","index":0}]]},"ExtractCsv":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"If":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","content-type":"application/json","user-agent":"axios/1.8.3","content-length":"93","accept-encoding":"gzip, compress, deflate, br","host":"localhost:5677","connection":"close"},"params":{},"query":{},"body":{"asset_type":"stock","asset_ticker":"AGG","start_date":"2025-01-01","end_date":"2025-03-31"},"webhookUrl":"http://localhost:5677/webhook/api/data_manipulation/02","executionMode":"production"}}]},"versionId":"f39cb39f-e367-4a11-a988-bcc91933ae62","triggerCount":1,"tags":[]}