core/n8n/files/workflows/p9DNHt2BLRbiQP88.json
{"createdAt":"2025-07-08T14:01:28.729Z","updatedAt":"2025-07-08T16:14:50.910Z","id":"p9DNHt2BLRbiQP88","name":"fetch-google-rate-limit","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Consignes\n\n1. Modifiez ce workflow pour qu'il ne soit pas bloqué par la limitation de requête\n2. On passera maximum 10 requêtes toutes les 2000ms","height":240,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-280],"id":"6af2b6b2-de08-4cdd-949c-08437b336816","name":"Sticky Note"},{"parameters":{"content":"## Astuces\n\n- Pensez au batching\n- Il existe un noeud loop, et un noeud delay","height":240,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-280],"id":"c59b12df-8016-4954-b5f6-37ee90acd757","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[160,200],"id":"6133af44-5e59-48d7-9042-50a491163adb","name":"Limit","disabled":true},{"parameters":{"fieldToSplitOut":"['google-keywords']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,200],"id":"eaae7ced-f793-42be-9424-9420032f1eb5","name":"Split Out"},{"parameters":{"url":"=https://www.google.com/search?","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json['[\\'google-keywords\\']'] }}"}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n            \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36\",\n            \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\",\n            \"Accept-Language\": \"en-US,en;q=0.9\"\n          }","options":{"batching":{"batch":{"batchSize":10,"batchInterval":2000}},"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,200],"id":"44c5793a-8d95-4e77-a4b1-edbb5b68e1de","name":"HTTP Request"},{"parameters":{"workflowInputs":{"values":[{"name":"google-keywords"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,200],"id":"b1974d0f-1acb-47de-a36a-2a2186ee2976","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Resources\n\n- https://docs.n8n.io/integrations/builtin/rate-limits/","width":1000,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-40],"id":"a2736b44-6de9-45f5-a937-d26b62b2fc41","name":"Sticky Note2"}],"connections":{"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5bc5ecab-5dc1-4b2c-a7d7-d41779fef293","triggerCount":0,"tags":[]}