core/n8n/files/workflows/q50qROVlXs2hEUh1.json
{"createdAt":"2025-06-19T10:20:59.960Z","updatedAt":"2025-06-19T11:22:51.329Z","id":"q50qROVlXs2hEUh1","name":"database-management","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Initialize market_data_table","height":280,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-280],"id":"fadcaf60-fbb8-476f-aa8d-7812b52302b8","name":"Sticky Note"},{"parameters":{"content":"## Fi postgresql market_data from csv","height":200,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,240],"id":"b1cc4b75-19b7-4a14-862c-a26836b7bd9a","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,-180],"id":"37c38f72-c97c-446c-89d3-3701872a54cf","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE {{ $json.table_name }} (\n  ticker        TEXT      NOT NULL,\n  date          DATE      NOT NULL,\n  open          NUMERIC,\n  high          NUMERIC,\n  low           NUMERIC,\n  close         NUMERIC,\n  volume        NUMERIC,\n  sma_7         NUMERIC,    -- vos indicateurs calculés\n  sma_21        NUMERIC,\n  return_pct    NUMERIC,\n  vol_7         NUMERIC,\n  atr_14        NUMERIC,\n  PRIMARY KEY (ticker, date)\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[140,-180],"id":"2c2b1d66-c0d8-495f-b2bf-85dc4c9774f6","name":"Execute a SQL query","credentials":{"postgres":{"id":"u3TMm2mvaM7hIJw7","name":"postgres_user"}}},{"parameters":{"content":"## Modify the table\n\n- On ajoute les columns que l'on souhaite\n","height":200,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,20],"id":"5cd6a9c6-64b5-400c-ad98-3c4f32faaa89","name":"Sticky Note2"},{"parameters":{"operation":"executeQuery","query":"ALTER TABLE {{ $json.table_name }}\n  ADD COLUMN info           TEXT,\n  ADD COLUMN last_refreshed TIMESTAMP,\n  ADD COLUMN output_size    TEXT,\n  ADD COLUMN time_zone      TEXT;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[120,80],"id":"ae7b40a4-3daa-4a1f-85cf-883657ba31be","name":"Execute a SQL query1","credentials":{"postgres":{"id":"u3TMm2mvaM7hIJw7","name":"postgres_user"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c299f5a-7291-4910-9c71-0d2b840d1784","name":"table_name","value":"market_data","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-180],"id":"7f7dd239-75a1-46e2-a3fd-1770462e2a98","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7e89582-8f70-4267-807f-48dc4e68e591","triggerCount":0,"tags":[]}