core/n8n/files/workflows/qVBv7Xeobu8yTPoa.json
{"createdAt":"2025-07-08T13:53:24.710Z","updatedAt":"2025-07-08T13:57:48.937Z","id":"qVBv7Xeobu8yTPoa","name":"data_manipulation_validation","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## data_manipulation_01\n\n- L'ouput attendu par votre workflow est le chemin de sauvegarde de votre fichier csv. On utilise ensuite pour charger le fichier, et on vérifie qu'il y a le bon nombre de ligne ainsi que de colonne\n- On valide que la filtration a bien fonctionné en comptant le nombre de ligne","height":580,"width":1640,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-660],"id":"b6fbc2db-f9d1-4d39-9815-5c6829eb22f2","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"asset_type","value":"stock","type":"string"},{"id":"50b05544-e1d9-4d77-a842-32fd20407425","name":"asset_ticker","value":"AGG","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-360],"id":"79a90c91-dc0c-4d7c-b84c-c3468dd680f7","name":"SetArgs3"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/data_manipulation/01","sendBody":true,"bodyParameters":{"parameters":[{"name":"asset_type","value":"={{ $json.asset_type }}"},{"name":"=asset_ticker","value":"={{ $json.asset_ticker }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-360],"id":"577bc43f-74da-46be-b16e-d15173dfecec","name":"03_Webhook&Requests1"},{"parameters":{"fileSelector":"={{ $json.filename }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[320,-360],"id":"672a502e-835b-4fed-a01f-d64dcea34ca8","name":"Read/Write Files from Disk"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[520,-360],"id":"906aef81-be3c-4249-869d-e4430c4c7009","name":"ExtractedCsv"},{"parameters":{"content":"## data_manipulation_02\n\n- On attend ","height":620,"width":1640,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-80],"id":"7a8ada6d-eb3b-479e-9522-cad18262b0c2","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"asset_type","value":"stock","type":"string"},{"id":"50b05544-e1d9-4d77-a842-32fd20407425","name":"asset_ticker","value":"AGG","type":"string"},{"id":"8d6657a6-0950-4458-b6b1-b0f2b1f1f359","name":"start_date","value":"2025-01-01","type":"string"},{"id":"0ea34840-0edf-48be-96c7-cb14229f5b18","name":"end_date","value":"2025-03-31","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,40],"id":"701dd210-5ceb-4ae3-8a3d-87efbd7c6263","name":"SetArgs4"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/data_manipulation/02","sendBody":true,"bodyParameters":{"parameters":[{"name":"asset_type","value":"={{ $json.asset_type }}"},{"name":"=asset_ticker","value":"={{ $json.asset_ticker }}"},{"name":"start_date","value":"={{ $json.start_date }}"},{"name":"=end_date","value":"={{ $json.end_date }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,40],"id":"d0d7c036-5aef-46f5-b2e5-21d2e7829fa2","name":"03_Webhook&Requests2"},{"parameters":{"errorMessage":"The number of rows of your csv should be 5477"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[720,80],"id":"555ca44a-cb1b-4003-a260-e5991a7d79c1","name":"Stop and Error4"},{"parameters":{"assignments":{"assignments":[{"id":"24a7ad72-5890-4ac1-8829-dfd6f9e8d8fe","name":"asset_type","value":"digital_currency","type":"string"},{"id":"50b05544-e1d9-4d77-a842-32fd20407425","name":"asset_ticker","value":"BTC","type":"string"},{"id":"8d6657a6-0950-4458-b6b1-b0f2b1f1f359","name":"start_date","value":"2024/10/01","type":"string"},{"id":"0ea34840-0edf-48be-96c7-cb14229f5b18","name":"end_date","value":"2024/12/31","type":"string"},{"id":"7c224333-9590-43fd-986f-a2cd48a84d68","name":"day_name","value":"wednesday","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,240],"id":"5fbabcfd-ec41-4777-ab05-8b0a3692c396","name":"SetArgs5"},{"parameters":{"method":"POST","url":"http://localhost:5677/webhook/api/data_manipulation/02","sendBody":true,"bodyParameters":{"parameters":[{"name":"asset_type","value":"={{ $json.asset_type }}"},{"name":"=asset_ticker","value":"={{ $json.asset_ticker }}"},{"name":"start_date","value":"={{ $json.start_date }}"},{"name":"=end_date","value":"={{ $json.end_date }}"},{"name":"day_name","value":"={{ $json.day_name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,240],"id":"b22be853-4f80-4fa2-9941-5cc279b45e9a","name":"03_Webhook&Requests3"},{"parameters":{"errorMessage":"The number of rows of your csv should be 5477"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[800,380],"id":"ad9a8f61-de47-486e-8478-204fd2917c56","name":"Stop and Error5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646ad97f-b1d2-4b11-8287-0eadcc17ccc3","leftValue":"={{ $json.day_name }}","rightValue":"={{ $('SetArgs5').item.json.day_name }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,240],"id":"3ab00270-0cd7-4dd6-b2f9-d33e1f3f0beb","name":"CheckDayName"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646ad97f-b1d2-4b11-8287-0eadcc17ccc3","leftValue":"={{ $json[\"﻿date\"] }}","rightValue":"={{ $('SetArgs4').item.json.start_date }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"803a34c7-abc1-434b-9fd5-37ce694ec240","leftValue":"={{ $json[\"﻿date\"] }}","rightValue":"={{ $('SetArgs4').item.json.end_date }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,40],"id":"4bcbc6aa-3367-4f54-a1a8-c869bfc74528","name":"CheckPeriodFIltration"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646ad97f-b1d2-4b11-8287-0eadcc17ccc3","leftValue":"={{ $json[\"﻿date\"] }}","rightValue":"={{ $('SetArgs5').item.json.start_date }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"803a34c7-abc1-434b-9fd5-37ce694ec240","leftValue":"={{ $json[\"﻿date\"] }}","rightValue":"={{ $('SetArgs5').item.json.end_date }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,220],"id":"3eeb2637-0b3b-4dfc-b626-aea2abde5e9d","name":"CheckPeriodFIltration1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.asset_ticker }}","rightValue":"GLD","operator":{"type":"string","operation":"equals"},"id":"7a54fcf1-c57e-4089-b1da-36cdc3a4b355"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62522d8c-a86f-4889-8c8e-2b104d187d67","leftValue":"={{ $json.asset_ticker }}","rightValue":"BTC","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[740,-360],"id":"0f6273ec-0708-4c04-9b00-5f6adba9192a","name":"Switch1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[960,-460],"id":"57b3b1b2-1305-4700-bb7b-4d17e034fe63","name":"Aggregate"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[960,-300],"id":"6595da14-2e93-4724-84cf-03db151a79b5","name":"Aggregate1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddac3ccf-3fa9-4eb7-abac-32b9487bfa6a","leftValue":"={{ $json.data.length }}","rightValue":350,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,-300],"id":"7fc9aaa5-0fdf-469a-9883-76e970210685","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddac3ccf-3fa9-4eb7-abac-32b9487bfa6a","leftValue":"={{ $json.data.length }}","rightValue":5188,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,-460],"id":"1b7bef0b-fd15-4afd-9038-03c3bfb75581","name":"If4"},{"parameters":{"errorMessage":"=The number of rows is no valid"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1380,-220],"id":"20ef13dd-e632-42aa-9ae3-fedfcea389bf","name":"Stop and Error3"},{"parameters":{"content":"## data_manipulation_03\n\n- On attend ","height":400,"width":1640,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,540],"id":"1256c6ec-514d-4405-9aa6-f6df8fcff49a","name":"Sticky Note6"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,40],"id":"af80e5e7-39e9-4172-8628-9e658a33d449","name":"When clicking ‘Execute workflow’"}],"connections":{"SetArgs3":{"main":[[{"node":"03_Webhook&Requests1","type":"main","index":0}]]},"03_Webhook&Requests1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"ExtractedCsv","type":"main","index":0}]]},"ExtractedCsv":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"SetArgs4":{"main":[[{"node":"03_Webhook&Requests2","type":"main","index":0}]]},"03_Webhook&Requests2":{"main":[[{"node":"CheckPeriodFIltration","type":"main","index":0}]]},"SetArgs5":{"main":[[{"node":"03_Webhook&Requests3","type":"main","index":0}]]},"03_Webhook&Requests3":{"main":[[{"node":"CheckDayName","type":"main","index":0}]]},"CheckDayName":{"main":[[{"node":"CheckPeriodFIltration1","type":"main","index":0}],[{"node":"Stop and Error5","type":"main","index":0}]]},"CheckPeriodFIltration":{"main":[[],[{"node":"Stop and Error4","type":"main","index":0}]]},"CheckPeriodFIltration1":{"main":[[],[{"node":"Stop and Error5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Stop and Error3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"Stop and Error3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"SetArgs3","type":"main","index":0},{"node":"SetArgs4","type":"main","index":0},{"node":"SetArgs5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"SetArgs3":[{"json":{"asset_type":"stock","asset_ticker":"GLD"}},{"json":{"asset_type":"digital_currency","asset_ticker":"BTC"}}]},"versionId":"3cbc69ce-b717-4acd-bd79-3f6e58dcfb7a","triggerCount":0,"tags":[]}