core/n8n/files/workflows/WoG3mUdC91cXDtfc.json
{"createdAt":"2025-07-08T08:24:24.219Z","updatedAt":"2025-07-08T14:00:43.906Z","id":"WoG3mUdC91cXDtfc","name":"workflow&subworkflow_01","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Consignes\n\nL'objectif de ce workflow est d'appelé un sous workflow que vous allez créer. Allez dans les tests pour comprendre comment ce workflow est testé. Celui-ci recoit en entrée un prénom, il doit ensuite appelé un sous workflow \"greatings\" qui renvoie \"Hello + name\"\n","height":300,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-400],"id":"14a64506-5aa0-4220-bda8-bdb935b5d34d","name":"Sticky Note"},{"parameters":{"content":"## Astuces\n\n1. Pensez à regarder le workflow de validation ","height":300,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-400],"id":"2bcc2a8a-cd6b-4178-9589-fa1acc1e43aa","name":"Sticky Note1"},{"parameters":{"workflowInputs":{"values":[{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[140,20],"id":"65a6c14b-c4e6-4450-b541-03e34fba66d1","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"0ee9c79e-31ce-49f6-9dcf-94847bfd51ba","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,20],"id":"09e3c7ae-ec9a-48e8-b6d6-e1e923aebe35","name":"Edit Fields"},{"parameters":{"content":"## Trigger node\n\nCe workflow est trigger par le workflow de validation","height":320,"width":720,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-100],"id":"f4c7c091-34d2-483f-b2fa-87b24713fb39","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"5UydMayGZsAlLuSk","mode":"list","cachedResultName":"greatings"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[600,20],"id":"6c58e9e2-a17c-43eb-9f03-5b99f9091be3","name":"Execute Workflow"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"name":"Benoit"}}]},"versionId":"434f7dfb-46a4-45a7-afec-c2109ebde65e","triggerCount":0,"tags":[]}