core/n8n/files/workflows/YHDnyt9Gd2SyCK7t.json
{"createdAt":"2025-07-04T09:19:37.315Z","updatedAt":"2025-07-08T13:58:16.752Z","id":"YHDnyt9Gd2SyCK7t","name":"webhook&requests_01","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Consignes\n\n1. Créer un trigger webhook\n2. Configurer sans credentials\n3. Regardez les tests et comprenez ce qu'il attend en entrée et en sortie\n4. Ajouter un noeud pour parser les inputs proprement. Que se passe t'il si il manque un input ? Il faudrait renvoyer une erreur...\n5. Créer une variable \"result\" dans laquelle vous concatenez les inputs sous forme de string: result = \"input_1 + input_2\". C'est l'occasion de découvrir le drag and drop des inputs: Vous pouvez selectionner sur le pannel de \"inputs\" à gauche et les glisser dans votre noeud actuel, vous devriez voir apparaitre {{ $json }}\n6. Répondez avec un noeud respond to webhook en suivant le json attendu dans le test ","height":300,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,-480],"id":"f6f20867-c3f8-4a37-b073-24870416fec2","name":"Sticky Note"},{"parameters":{"content":"## Notes\n\n1. Pensez à activer votre workflow, sinon votre webhook restera invisible\n2. Soyez vigilants au type de request: POST/ GET / PATCH...\n3. Lorsque le workflow \"validation\" a correctement appelé votre webhook, allez dans les executions, copier les data recues et pinnez les dans le mode editor. Vous pouvez maintenant travailler directement avec \"execute workflow\" pour finaliser votre workflow\n4. Pour utiliser la notation {{ }}, pensez à passer le champ en mode \"expression\"","height":300,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,-480],"id":"2a5ce7a9-b4b3-4e6c-8ab7-f366f9e96619","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"api/webhook_&_requests/01","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,60],"id":"55d441f0-4f30-4a6d-aa1f-98be2cc20748","name":"Webhook","webhookId":"5da44db7-e08a-4f80-ad7a-1e7e935bb607"},{"parameters":{"assignments":{"assignments":[{"id":"3cc4f15c-8db5-4afa-8878-11ffb3364a4d","name":"body.input_1","value":"={{ $json.body.input_1 }}","type":"string"},{"id":"07121930-d049-467a-b44a-6304689e481c","name":"body.input_2","value":"={{ $json.body.input_2 }}","type":"string"},{"id":"71d9d4c7-5188-44ab-8db9-4a9b2b5f98a5","name":"body.input_3","value":"={{ $json.body.input_3 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,60],"id":"e375d54f-0e59-4b90-a11f-b9970be88446","name":"ParseArgs"},{"parameters":{"assignments":{"assignments":[{"id":"cd88ca8f-0746-43f1-8112-685de26c34f4","name":"resut","value":"={{ $json.body.input_1 }} {{ $json.body.input_2 }}{{ $json.body.input_3 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,60],"id":"242aac9d-3207-4afa-ace4-53be5b6b2ec4","name":"ComputeResult"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[80,60],"id":"8954b03d-6c6b-44b8-8d3e-8e77a9560260","name":"Respond to Webhook"},{"parameters":{"content":"## Resources\n","width":1260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,-180],"id":"cad78be9-035b-41e9-a4b5-7d72fb0a8521","name":"Sticky Note3"},{"parameters":{"content":"## Ton workflow","height":260,"width":1260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,-20],"id":"844d0052-d27f-408f-a95a-1ed0a5e1964d","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"ParseArgs","type":"main","index":0}]]},"ParseArgs":{"main":[[{"node":"ComputeResult","type":"main","index":0}]]},"ComputeResult":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","content-type":"application/json","user-agent":"axios/1.8.3","content-length":"37","accept-encoding":"gzip, compress, deflate, br","host":"localhost:5677","connection":"close"},"params":{},"query":{},"body":{"input_1":"hello","input_2":"world","input_3":"!"},"webhookUrl":"http://localhost:5677/webhook/api/validation/webhook_&_requests/01","executionMode":"production"}}]},"versionId":"f34f46f4-89a7-44bf-b10e-c7df662731e0","triggerCount":1,"tags":[]}